{% extends "layout.html" %}

{% macro display_items(section_title, items) -%}
<h3>{{ section_title }}</h3>
  <div class="row">
    <div class="col-md-8 mx-auto">

      <ul class="list-group-flush mb-4">
        <!-- List the todo items here -->

        {% for item in items %}
          <li class="list-group-item d-flex justify-content-between align-items-center" id="item_{{ item.id }}">
            <input class="form-check-input me-1" type="checkbox" value="{{ item.id }}" id="status_{{ item.id }}" {% if
              item.status=='Done' %} checked {% endif %} onchange="statusCheckBoxChange('{{ item.id }}')" />
            {{ item.name }}
            <button type="button" class="btn btn-danger" onclick="deleteItem('{{ item.id }}')">Delete</button>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
{%- endmacro %}

{% block title %}To-Do App{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">To-Do App</h1>
    <p class="lead">Just another to-do app.</p>
    <form class="d-flex" action="/migrateData" method="POST">
        <button class="btn btn btn-info" type="submit">Migrate Data</button>
      </form>
  </div>
  <div class="row">
    <div class="mx-auto">
      <form class="form-horizontal" action="/addToDo" method="POST">
        <div class="form-row align-items-center">

          <div class="form-group mb-2 form-check-inline">
            <label for="to_do_title" class="font-weight-bold col-sm-6">Create To-Do Item:</label>
            <input type="text" class="form-control" id="to_do_title" name="to_do_title"
              placeholder="Enter Title of To-Do">
          </div>
          <button type="submit" class="btn btn-success mb-2">Create</button>
        </div>
      </form>
    </div>
  </div>
  <br>
  
  {{ display_items('To Do Tasks', view_model.todo_items) }}

  {% if view_model.should_show_all_done_items %}
    {{ display_items('Done Tasks', view_model.done_items) }}
  {% else %}
    {{ display_items('Recently Completed Tasks', view_model.recent_done_items) }}
    
    <details>
      <summary>Older Tasks</summary>
      {{ display_items('', view_model.older_done_items) }}
    </details>
  {% endif %}

{% endblock %}